html {
    -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: YoungSerif;
  src: url(./assets/YoungSerif-Regular.otf);
}

body {
    font-family: "Lato"; 
    color: #2A2826;
    background-color: #F6F6F6;
}

h1 {
    font-family: "YoungSerif"; 
    color: #2A2826;
}

a {
    color: #222328;
    text-decoration: none;
}

.tnp-logo {
    width: auto;
    height: 35px;
}